<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/62a6949a36.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <section>
        <h3>Quiénes somos</h3>
        <a href="#">Sobre nosotros</a>
        <a href="#">Únete al equipo</a>
        <a href="#">Contáctanos</a>
        <a href="#">Políticas de FreeLab</a>
        <a href="#">Política de privacidad</a>
        <a href="#">Términos de servicio</a>
    </section>
    <section>
        <h3>Quiénes somos</h3>
        <a href="#">Sobre nosotros</a>
        <a href="#">Únete al equipo</a>
        <a href="#">Contáctanos</a>
        <a href="#">Políticas de FreeLab</a>
        <a href="#">Política de privacidad</a>
        <a href="#">Términos de servicio</a>
    </section>
    <section>
        <h3>Quiénes somos</h3>
        <a href="#">Sobre nosotros</a>
        <a href="#">Únete al equipo</a>
        <a href="#">Contáctanos</a>
        <a href="#">Políticas de FreeLab</a>
        <a href="#">Política de privacidad</a>
        <a href="#">Términos de servicio</a>
    </section>
    <section>
        <h3>Siguenos</h3>
        <a href="#">Sobre nosotros</a>
        <a href="#">Únete al equipo</a>
        <a href="#">Contáctanos</a>
        <a href="#">Políticas de FreeLab</a>
        <a href="#">Política de privacidad</a>
        <a href="#">Términos de servicio</a>
    </section>
</body>
</html>