<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/62a6949a36.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="header">
        <img src="/img/Logo_FreeLab.png" alt="logo" class="header--logo">
        <i class="fa-solid fa-bars-staggered header--iconoHam"></i>
        <nav class="header__nav">
            <ul class="header__nav__ul">
                <li class="header__nav__ul__li"><a class="header__nav__ul__li--a" href="">menu</a></li>
                <li><a href="">recursos</a></li>
                <li><a href="">trabajos</a></li>
                <li><a href="">quienes somos?</a></li>
            </ul>
        </nav>
    </header>
    <!--<header class="header--carrito">
        <i class="fa-solid fa-bars-staggered"></i>
        <img src="/img/Logo_FreeLab.png" alt="logo" class="logo">
        <nav>
            <ul>
                <li><a href="">menu</a></li>
                <li><a href="">recursos</a></li>
                <li><a href="">trabajos</a></li>
                <li><a href="">quienes somos?</a></li>
            </ul>
        </nav>
        <div>
            <i class="fa-solid fa-user"></i>
        </div>
    </header>-->
</body>
</html>