<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b547475f35.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <img src="/img/Logo_FreeLab.png" alt="logo" class="header--logo">
        <div class="header__contIconos">
            <i class="fa-solid fa-user header--iconoUser"></i>
            <i class="fa-solid fa-bars-staggered header--iconoHam"></i>
        </div>
        <nav class="header__nav">
            <ul class="header__nav__ul">
                <li class="header__nav__ul__li"><a class="header__nav__ul__li--a" href="/login">Login</a></li>
                <li class="header__nav__ul__li"><a class="header__nav__ul__li--a" href="/productCart">Carrito</a></li>
                <li class="header__nav__ul__li"><a class="header__nav__ul__li--a" href="#">Trabajos</a></li>
                <li class="header__nav__ul__li"><a class="header__nav__ul__li--a" href="#">¿Quienes somos?</a></li>
            </ul> 
        </nav>
    </header>
</body>
</html>