<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b547475f35.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../public/css/styles.css">
    <title>Document</title>
</head>
<body>
    <header class="home__header">
        <section class="home__header__section">
            <img class="home__header__section--logo_freelab" src="../../public/img/Logo_FreeLab.png" alt="Logo_FreeLab">
            <h1 class="home__header__section--titulo">FreeLab</h1>
        </section>
        <div class="home__header__div"><i class="fa-solid fa-bars"></i></div>
        <nav class="home__header__nav">
            <ul class="home__header__nav__ul">
                <li>Menu</li>
                <li>Recursos</li>
                <li>Trabajo</li>
                <li>Quienes somos?</li>
            </ul>
        </nav>
        
    </header>
</body>
</html>