<!DOCTYPE html>
<html lang="en">
    <%- include('./../partials/head', {title: 'Home | FreeLab' }) %>
<body>
    <%- include('./../partials/header')%>
    <main>
        <aside>
            <h2>Filtrar Por:</h2>
            <form id="filtroForm">
                <label for="precio">Precio:</label>
                <input type="number" id="minPrecio" name="minPrecio" placeholder="Min">
                <input type="number" id="maxPrecio" name="maxPrecio" placeholder="Max">
        
                <label for="tipoTrabajo">Trabajo que quieres encargar:</label>
                <select id="tipoTrabajo" name="tipoTrabajo">
                    <option value="diseno">Diseño</option>
                    <option value="programacion">Programación</option>
                    <!-- Agrega más opciones según sea necesario -->
                </select>
        
                <label for="habilidades">Habilidades técnicas:</label>
                <input type="text" id="habilidades" name="habilidades" placeholder="Separadas por coma">
        
                <label for="idioma">Idioma:</label>
                <select id="idioma" name="idioma">
                    <option value="espanol">Español</option>
                    <option value="ingles">Inglés</option>
                </select>
        
                <label for="puntajeEstrellas">Puntaje de estrellas:</label>
                <input type="number" id="puntajeEstrellas" name="puntajeEstrellas" min="1" max="5">
        
                <button type="submit">Filtrar</button>
            </form>
        </aside>
        <section>
            <article>
                <img src="#" alt="Imagen de perfil">
                <div>
                    <h3>Nombre del Freelancer</h3>
                    <p>Breve descripción del Freelancer.</p>
                    <span class="icono-estrellas">4.9 (7)</span>
                    <p>$1500</p>
                </div>
            </article>
          
            <article>

            </article>
        </section>
    </main>
    <%- include('./../partials/footer')%>
    <%- include('./../partials/scripts') %>
</body>
</html>