<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>FreeLab | Home </title>
    <script src="https://kit.fontawesome.com/d797b1fcfc.js" crossorigin="anonymous" ></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,200;1,700&family=Open+Sans&family=Raleway:wght@400;700&family=Roboto&family=Work+Sans:ital,wght@1,300&display=swap');
      </style>
</head>
<body>
    <main>
        <section>
        <h1>
            Lorem ipsum dolor sit amet consectetur. Mi nec mattis 
        </h1>
    </section>
    
     <div class="main__alineacion">
        <input class="main__busqueda" type="text" placeholder="Busca Servicios..">
        <div class="main__lupa">
            <i class="fa-solid fa-magnifying-glass"></i> 
        </div>
    </div>
    </main>
</body>
</html>