<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>FreeLab | Home </title>
    <script src="https://kit.fontawesome.com/d797b1fcfc.js" crossorigin="anonymous" ></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,200;1,700&family=Open+Sans&family=Raleway:wght@400;700&family=Roboto&family=Work+Sans:ital,wght@1,300&display=swap');
      </style>
</head>
<body>
    <header class="header">
        <img src="/img/Logo_FreeLab.png" alt="logo" class="header--logo">
        <div class="header__contIconos">
            <i class="fa-solid fa-user header--iconoUser"></i>
            <i class="fa-solid fa-bars-staggered header--iconoHam"></i>
        </div>
        <nav class="header__nav">
            <ul class="header__nav__ul">
                <li class="header__nav__ul__li"><a class="header__nav__ul__li--a" href="/login.html">Login</a></li>
                <li class="header__nav__ul__li"><a class="header__nav__ul__li--a" href="/productCart">Carrito</a></li>
                <li class="header__nav__ul__li"><a class="header__nav__ul__li--a" href="#">Trabajos</a></li>
                <li class="header__nav__ul__li"><a class="header__nav__ul__li--a" href="#">¿Quienes somos?</a></li>
            </ul> 
        </nav>
    </header>
    <main class="main">
        <section class="main__section">
        <h1 class="Main__section__primerTitulo">
           Busca una solucion para tu proyecto!
        </h1>
     <div class="main__alineacion">
        <input class="main__busqueda" type="text" placeholder="Busca Servicios..">
        <div class="main__lupa">
            <i class="fa-solid fa-magnifying-glass"></i> 
        </div>
    </section>
    <section class="main__section__2">
        <article class="article__1">
            <img src="/img/RedCliente.png" alt="RedCliente" id="image1">
            <p class="article__1__p"> En Freelab, nos dedicamos a simplificar la conexión entre freelancers altamente calificados</p>
        </article>
        <article class="article__2">
            <img src="/img/Saludo.png" alt="Saludo" id="image2">
            <div class="article__2__leyenda">
                <p>Somos un equipo apasionado</p>
            </div>
        </article>
        <article class="article__3">
            <p>Proporcionamos una amplia Red de busqueda para cumplir tus necesidades</p>
            <img src="/img/RedFreeLab.jpg" alt="equipo freelancers" id="image3">
        </article>
    </section>
    </main>
    <footer>
        <section class="footer__section">
            <h3 class="footer__section--h3">Quiénes somos</h3>
            <ul>
                <li class="footer__section__ul__li"><a class="footer__section__ul__li--a" href="#">Sobre nosotros</a></li>
                <li class="footer__section__ul__li"><a class="footer__section__ul__li--a" href="#">Únete al equipo</a></li>
                <li class="footer__section__ul__li"><a class="footer__section__ul__li--a" href="#">Contáctanos</a></li>
                <li class="footer__section__ul__li"><a class="footer__section__ul__li--a" href="#">Políticas de FreeLab</a></li>
                <li class="footer__section__ul__li"><a class="footer__section__ul__li--a" href="#">Política de privacidad</a></li>
                <li class="footer__section__ul__li"><a class="footer__section__ul__li--a" href="#">Términos de servicio</a></li>
            </ul>
        </section>
        <section class="footer__section">
            <h3 class="footer__section--h3">Quiénes somos</h3>
            <ul>

                <li class="footer__section__ul__li"><a class="footer__section__ul__li--a" href="#">Sobre nosotros</a></li>
                <li class="footer__section__ul__li"><a class="footer__section__ul__li--a" href="#">Únete al equipo</a></li>
                <li class="footer__section__ul__li"><a class="footer__section__ul__li--a" href="#">Contáctanos</a></li>
                <li class="footer__section__ul__li"><a class="footer__section__ul__li--a" href="#">Políticas de FreeLab</a></li>
                <li class="footer__section__ul__li"><a class="footer__section__ul__li--a" href="#">Política de privacidad</a></li>
                <li class="footer__section__ul__li"><a class="footer__section__ul__li--a" href="#">Términos de servicio</a></li>
            </ul>
        </section>
        <section class="footer__section">
            <h3 class="footer__section--h3">Quiénes somos</h3>
            <ul class="footer__section__ul">
                <li class="footer__section__ul__li"><a class="footer__section__ul__li--a" href="#">Sobre nosotros</a></li>
                <li class="footer__section__ul__li"><a class="footer__section__ul__li--a" href="#">Únete al equipo</a></li>
                <li class="footer__section__ul__li"><a class="footer__section__ul__li--a" href="#">Contáctanos</a></li>
                <li class="footer__section__ul__li"><a class="footer__section__ul__li--a" href="#">Políticas de FreeLab</a></li>
                <li class="footer__section__ul__li"><a class="footer__section__ul__li--a" href="#">Política de privacidad</a></li>
                <li class="footer__section__ul__li"><a class="footer__section__ul__li--a" href="#">Términos de servicio</a></li>
            </ul>
        </section>
        <section class="footer__section siguenos__iconos">
            <h3 class="footer__section--h3">Siguenos</h3>
            <ul class="ul__iconos">
                <li><i class="fa-brands fa-linkedin-in"></i></li>
                <li><i class="fa-brands fa-linkedin-in"></i></li>
                <li><i class="fa-brands fa-linkedin-in"></i></li>
                <li><i class="fa-brands fa-linkedin-in"></i></li>
                <li><i class="fa-brands fa-linkedin-in"></i></li>
            </ul>
        </section>
        <p class="footer__p__derechos">© 2023 - 2023 | FreeLab - Todos los derechos reservados</p>
    </footer>
</body>
</html>