<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/62a6949a36.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Detalle de producto</title>
</head>
<body>
    <main class="main__PD">
        <section class="main__PD__section section__misDatos">
            <img src="/img/perfil.png" alt="imagen de perfil" class="section__misDatos--img">
            <h3 class="section__misDatos--h3">Guida Lurdes Rossi</h3>
            <div class="section__misDatos__ContLinks">
                <p>
                    Linkedin
                </p>
                <p>
                    Linkedin
                </p>
                <p>
                    Linkedin
                </p>
            </div>
            <div class="section__misDatos__ContStart">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
        </section>
        <section class="main__PD__section section__sobreMi">
            <h3 class="section__sobreMi--h3">Sobre mi</h3>
            <p class="section__sobreMi--p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue lectus lacus, eu aliquet risus feugiat nec. Nulla facilisi. Etiam in sollicitudin diam. Quisque viverra ante est, a feugiat mauris elementum et. Duis a feugiat sem. Ut in orci eget est fermentum rhoncus in eu sapien. Integer quis commodo ex, et finibus velit. Donec semper sed mauris ut suscipit. Donec sit amet iaculis magna.</p>
        </section>
        <section class="main__PD__section section__review">
            <div class="section__review__proOf">
                <h3 class="section__review__proOf--h3">4.5</h3>
                <p class="section__review__proOf--promedio">Promedio de 2 opiniones</p>
            </div>
            <div class="section__review__ordenC">
                <p class="section__review__ordenC--OrdenarPor">Ordenar por: </p>
                <h5 class="section__review__ordenC--filtro">Más relevantes</h5>
                <i class="fa-solid fa-v section__review__ordenC--icon"></i>
            </div>
            <article class="section__review__article">
                <div class="Start__review">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p class="section__review__article--fecha">05/10/2023</p>
                <h2 class="section__review__article--tituloTrabajo">Develop full stack</h2>
                <p class="section__review__article--comentario">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue lectus lacus, eu aliquet risus feugiat nec.</p>
                <p class="section__review__article--nombre">opiin fruta silvestre</p>
            </article>
            <article>
                <div class="Start__review">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p class="section__review__article--fecha">05/10/2023</p>
                <h2 class="section__review__article--tituloTrabajo">Develop full stack</h2>
                <p class="section__review__article--comentario">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue lectus lacus, eu aliquet risus feugiat nec.</p>
                <p class="section__review__article--nombre">opiin fruta silvestre</p>
            </article>
        </section>
    </main>
</body>
</html>