<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Detalle de producto</title>
</head>
<body>
    <main>
        <section>
            <img src="/img/perfil.png" alt="imagen de perfil">
            <h3>Guida Lurdes Rossi</h3>
            <p>
                Ingrese un link
            </p>
            <div>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
        </section>
        <section>
            <h3>Sobre mi</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue lectus lacus, eu aliquet risus feugiat nec. Nulla facilisi. Etiam in sollicitudin diam. Quisque viverra ante est, a feugiat mauris elementum et. Duis a feugiat sem. Ut in orci eget est fermentum rhoncus in eu sapien. Integer quis commodo ex, et finibus velit. Donec semper sed mauris ut suscipit. Donec sit amet iaculis magna.</p>
        </section>
        <section>
            <h3>4.5</h3>
            <p>Promedio de 2 opiniones</p>
            <p>Ordenar por: </p>
            <article>
                <div>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p>05/10/2023</p>
                <h2>Develop full stack</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue lectus lacus, eu aliquet risus feugiat nec.</p>
                <p>opiin fruta silvestre</p>
            </article>
            <article>
                <div>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p>05/10/2023</p>
                <h2>Develop full stack</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam congue lectus lacus, eu aliquet risus feugiat nec.</p>
                <p>opiin fruta silvestre</p>
            </article>
        </section>
    </main>
</body>
</html>