<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main class="main__productDetailPost">
        <section class="main__main__productDetailPost__section section__explicacion">
            <h3 class="main__productDetailPost__section--h3 section__explicacion--h3">Diseño y rediseño</h3>
            <!--Nombre del post-->
            <p class="main__main__productDetailPost__section--p section__explicacion--p publicacion">Publicado: hace 5
                minutos</p>
            <p class="section__explicacion--p descripcion">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nullam congue lectus lacus, eu aliquet risus feugiat nec. Nulla facilisi. Etiam in sollicitudin diam.
                Quisque viverra ante est, a feugiat mauris elementum et. Duis a feugiat sem. Ut in orci eget est
                fermentum rhoncus in eu sapien. Integer quis commodo ex, et finibus velit. Donec semper sed mauris ut
                suscipit. Donec sit amet iaculis magna.</p>
            <p class="section__explicacion--p descripcion">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nullam congue lectus lacus, eu aliquet risus feugiat nec. Nulla facilisi. Etiam in sollicitudin diam.
                Quisque viverra ante est, a feugiat mauris elementum et. Duis a feugiat sem. Ut in orci eget est
                fermentum rhoncus in eu sapien. Integer quis commodo ex, et finibus velit. Donec semper sed mauris ut
                suscipit. Donec sit amet iaculis magna.</p>
        </section>
        <section class="main__productDetailPost__section">
            <div class="main__productDetailPost__section__contenedor">
                <h3 class="main__productDetailPost__section__contenedor--h3">Sobre el puesto: </h3>
                <article class="main__productDetailPost__section__contenedor__article">
                    <h3 class="main__productDetailPost__section__contenedor__article--h3">Idioma</h3>
                    <p>Ingles: C1</p>
                    <p>Español: C1</p>
                </article>
                <article class="main__productDetailPost__section__contenedor__article">
                    <h3 class="main__productDetailPost__section__contenedor__article--h3">Habilidades tecnicas</h3>
                </article>
            </div>
            <div class="main__productDetailPost__section__contenedor">
                <article class="main__productDetailPost__section__contenedor__article">
                    <h3 class="main__productDetailPost__section__article--h3">Sobre el puesto: </h3>
                </article>
        </section>
        </div>
        <section class="main__productDetailPost__section">
            <img src="/img/perfil.png" class="main__productDetailPost__section--img" alt="imagen de pelfil">
            <h3 class="main__productDetailPost__section--h3">Empresa ficticia</h3>
            <article class="main__productDetailPost__section__article">
            <div class="main__productDetailPost__section__article--iconStart">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <h4 class="main__productDetailPost__section__article--h4">4.5</h4>
        </article>
        </section>
    </main>
</body>

</html>