<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main class="main__productDetailPost">
        <section class="main__main__productDetailPost__section">
            <h3 class="main__productDetailPost__section--h3"> </h3>
        </section>
        <section class="main__main__productDetailPost__section">
            <h3 class="main__productDetailPost__section--h3"> </h3>
        </section>
        <section class="main__main__productDetailPost__section">
            <img src="/img/perfil.png" alt="imagen de pelfil">
            <h3 class="main__productDetailPost__section--h3">Empresa ficticia</h3>
        </section>
    </main>
</body>
</html>