*{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
:root{
    --colorAzulOscuro: #193A4F;
    --colorCelesteOscuro: #1f8db4;
    --colorCeleste: #5eb1cd;
    --colorCelesteClaro: #c8f3fa;
    --colorGris: #A9BCC6;
}