.home__header {
    background-color: var(--colorAzulOscuro);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}

.home__header__section {
    display: flex;
}

.home__header__section--logo_freelab {
    width: 100%;
}

.home__header__section--titulo {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    display: flex;
    align-items: center;
    font-size: 125%;
}

.home__header__div {
    display: flex;
    align-items: center;
    margin-right: 2%;
}

.home__header__div i {
    font-size: 1.5rem;
    color: var(--colorCelesteOscuro);
    margin-right: 2rem;
}

.home__header__nav {
    display: none;
}

@media (min-width:426px) {
    .home__header {
        height: 100px;
    }

    .home__header__section--titulo {
        display: none;
    }

    .home__header__section--logo_freelab {
        width: 100%;
    }

    .home__header__div {
        display: none;
    }

    .home__header__nav {
        display: flex;
        align-items: center;
        position: relative;
        right: 4%;
    }

    .home__header__nav__ul {
        display: flex;
        flex-direction: row;
    }

    .home__header__nav__ul li {
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
        color: #ffffff;
        margin: 0 10px;
    }

    @media (max-width:510px) {
        .home__header__nav {
            right: 3%;
        }

        .home__header__nav__ul li {
        font-size: 0.9rem;
        }

        @media (max-width:456px) {
            .home__header__nav__ul li {
            font-size: 0.8rem;
        }
        }
    }
}

@media (min-width:769px) {
    .home__header {
        height: 130px;
    }

    .home__header__nav {
        display: flex;
        align-items: center;
        position: relative;
        right: 4%;
    }

    .home__header__nav__ul li {
        font-size: 1.3rem;
    }

    @media (min-width:900px) {
        .home__header__nav__ul li {
            margin: 0 20px;
        }
    }
}