.main__productDetailPost{
    width: 100%;
}
.main__productDetailPost__section{
    width:90%;
    margin: 0 auto;
    /*padding: 0 5%;*/

}
.section__explicacion{
    background-color: var(--colorCelesteOscuro);
    color:#FFF
}

.section__sobreEmpresa{
    display: flex;
}
.main__productDetailPost__section--img{
    width: 25%;
    margin-right: 50px;
}
