.main__PD{
    width: 100%;
}
.main__PD__section{
    width: 90%;
    margin: 0 auto;
    background-color: var(--colorCeleste);/*Sacar*/
}
/*Section mis datos*/
.section__misDatos{
    background-color: var(--colorCeleste);
}
.section__misDatos--h3{
    font-size: 30px;
}
.section__misDatos--img{
    width: 150px;
}
/*Section sobre mi*/
.section__sobreMi{
    background-color: var(--colorCeleste);
}
/*Section review*/
.section__review__proOf{
    display: flex;
}
.section__review__ordenC{
    display: flex;
}