.main__PDPost{
    width: 100%;
    background-color: blueviolet;
}
.main__PDPost__section{
    padding: 3%;
}
/*Todas las secciones llevan esta clase*/
.main__PDPost__section{
    width:90%;
    margin: 0 auto;
    color:#FFF;
}
/**Seccion explicacion de oferta [1]*/
.section__explicacion{
    background-color: var(--colorCelesteOscuro);
    color:#FFF;
    /*padding: 2%;*/
}
.section__explicacion__contenedor{
    display:flex;
    justify-content: space-between;
}
.publicacion{
    display: flex;
    justify-content: end;
}
.section__explicacion--p{
    margin-top: 10px;
}
/*Seccion sobre el puesto, info extra del puesto [2]*/


/*Seccion sobre el puesto, info extra del puesto [3]*/
.section__sobreEmpresa{
    display: flex;
}
.section__sobreEmpresa--img{
    width: 18%;
    margin-right: 50px;
    border-radius: 50%;
}
.main__PDPost__section__article{
    display:flex;
}
