/* Tabla */
.admin__table {
  width: 75%;
  margin: auto;
  margin-top: 20px;
  background-color: var(--colorGris);
  border-collapse: collapse;
}

.admin__table__header {
  text-align: center;
  background-color: #35424a;
  color: #ffffff;
  padding: 15px;
}

.admin__table-cell {
  border-top: 1px solid #ddd; /* Añadido */
  background-color: #f2f2f2;
  padding: 15px;
  text-align: left;
}

.admin__table-cell--id {
  border-bottom: 1px solid #ddd; /* Añadido */
}

.admin__table__tbody__tr__td--id {
  text-align: center;
}

.admin__table__tbody__tr__td--acciones {
  width: 200px;
}
