.body__index {
    background-color: var(--colorCelesteClaro);
}

.main {
    box-shadow: 100px 100px 100px 100px rgba(68, 106, 163, 0.5);
    padding: 10px;
}

.main__section_index {
    margin: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.Home__projects_index {
    margin-top: 10%;
    padding: 20px;
    background-color: var(--colorCelesteOscuro);
    border-radius: 1%;
}

.Home__projects_index-title {
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: "Arial", sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.Home__projects_index-articles {
    display: flex;
    flex-wrap: wrap;
}

.Home__projects_index-section-title {
    color: #ffffff;
    /* Color rojo */
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    /* Hacer el texto en negrita */

    border-bottom: 2px solid #d3d3d3;
    /* Agregar un borde inferior */
    padding-bottom: 5px;
    /* Agregar un poco de espacio en la parte inferior */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    /* Agregar sombreado al texto */

}

.Home__projects_index-project-card {
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid black;
    /* Borde negro */
    border-radius: 8px;
    height: 80%;
    width: 70%;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
    display: flex;
}

.Home__projects_index-project-card:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.Home__projects_index-project-image {
    width: 30%;
    /* Ancho de la imagen */
    height: auto;
    border-radius: 8px 0 0 8px;
    /* Redondear esquinas izquierdas */
}

.Home__projects_index-card-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Home__projects_index-project-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.Home__projects_index-project-category,
.Home__projects_index-project-description,
.Home__projects_index-project-price,
.Home__projects_index-project-publish-time {
    font-size: 68%;
    margin-bottom: 5px;
}



.Main__section__primerTitulo__index {

    font-size: 36px;
    color: #26303a;
    text-align: center;
    margin-left: 20%;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    font-family: "Arial", sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.description_index {
    background-color: var(--colorCelesteOscuro);
    border-radius: 3px;
    box-shadow: 1px 1px 1px black;
    color: #ffffff;
}


.testimonials-index-section {
    margin-top: 5%;
    margin-bottom: -5%;
}

.testimonials-index-section h2 {
    font-size: 36px;
    color: var(--colorCelesteOscuro);
    margin-bottom: 40px;
    font-weight: bold;
    font-family: "Arial", sans-serif;
    text-shadow: 2px 2px 4px #000000;
}


.testimonial-card {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 50px;
  padding: 10px;
  text-align: center;
    
}

.testimonial-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
    
}


.testimonial-content {
    padding: 20px;
}

.testimonial-content p {
    font-size: 10px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.testimonial-content cite {
    font-size: 9px;
    padding-top: 5px;
    font-style: italic;
    color: #666;
    display: block;
}
/* Estilos para los botones de control del carrusel */
.carousel-control2-prev,
.carousel-control2-next {
    background-color: #3b3f439f; /* Color de fondo */
    border: 2px solid #007bff; /* Borde */
    border-radius: 50%; /* Borde redondeado */
    width: 40px; /* Ancho */
    height: 40px; /* Altura */
    font-size: 24px; /* Tamaño del ícono */
    color: #fff; /* Color del ícono */
    line-height: 60px; /* Alinear verticalmente el texto */
    text-align: center; /* Alinear horizontalmente el texto */
    position: absolute; /* Posición absoluta */
    top: 30%; /* Alinear al centro verticalmente */
    transform: translateY(-50%); /* Alinear al centro verticalmente */
    z-index: 1; /* Asegurar que esté por encima del carrusel */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Transiciones suaves */
}

/* Estilos adicionales para el botón de control anterior */
.carousel-control2-prev {
    left: 5px; /* Distancia desde el borde izquierdo */
}

/* Estilos adicionales para el botón de control siguiente */
.carousel-control2-next {
    right: 5px; /* Distancia desde el borde derecho */
}

/* Estilos al pasar el cursor por encima de los botones */
.carousel-control2-prev:hover,
.carousel-control2-next:hover {
    background-color: transparent; /* Color de fondo transparente al pasar el cursor */
    color: #007bff19; /* Color del ícono al pasar el cursor */
}

/* Estilos para el ícono del botón */
.carousel-control2-prev span,
.carousel-control2-next span {
    display: inline-block; /* Hace que los iconos sean visibles */
    width: 20px; /* Ancho del icono */
    height: 40px; /* Altura del icono */
    background-position: center; /* Centra el icono */
}


.main__section__2 {
    margin-top: 50px;
    height: 400px;
  }
  
  .carousel-inner {
    display: flex;
    height: 400px;
  }
  
  .carousel-item {
    flex: 0 0 100%;
  }
  
  .article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .article__image {
    width: 500px;
    height: 100%;
    border-radius: 10px;
   align-items: center;
    display: flex; /* Activa el modelo de caja flexible */
    justify-content: center; /* Alinea horizontalmente la imagen al centro */
    align-items: center; /* Alinea verticalmente la imagen al centro */
  }
  
  
  .article__content {
    width: 45%; /* Ajusta el tamaño del contenido */
  }
  
  .article__content h2 {
    text-align: center;
    align-items: center; /* Alinea verticalmente el contenido */
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .article__content p.article__text {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
  }
  
  .article__content ul {
    list-style: none;
    padding-left: 0;
  }
  
  .article__content li {
    margin-bottom: 10px;
  }


  .join-us {
    background-color: #f9f9f9;
    padding: 50px 0;
    width: 800px;
    height: 300px;
   margin-left: 20%;
    text-align: center;
    border-top: 5px solid #007bff;
    border-bottom: 5px solid #007bff;
    border-radius: 10%;
  }

  .join-us-content {
    width: 800px;
    height: 400px;
    margin: 0 auto;
  }

  .join-us-content h2 {
    color: #333;
    font-size: 36px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .join-us-content p {
    color: #666;
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.6;
  }

  .btn-primary {
padding-right: 200px;
  }

/* Adaptaciones para teléfonos celulares */
@media only screen and (max-width: 600px) {
    .main {
        box-shadow: 10px 10px 10px 10px rgba(68, 106, 163, 0.5);
    }

    .Home__projects_index {
        margin-top: 5%;
        padding: 10px;
    }
    .article__image {
        width: 50%;
        height: 50%;
        border-radius: 10px;
       align-items: center;
        display: flex; /* Activa el modelo de caja flexible */
        justify-content: center; /* Alinea horizontalmente la imagen al centro */
        align-items: center; /* Alinea verticalmente la imagen al centro */
      }

      .article h2 {
        /* Estilos para los encabezados dentro de los artículos */
        font-size: 12px;
        color: #333; /* Color del texto */
        /* Agrega más estilos según sea necesario */
    }
    
    .article p {
        /* Estilos para los párrafos dentro de los artículos */
        font-size: 6px;
        color: #ffffff; /* Color del texto */
        /* Agrega más estilos según sea necesario */
    }
    
    .article ul {
        /* Estilos para las listas sin orden dentro de los artículos */
        list-style-type: disc; /* Tipo de viñetas */
        margin-left: 6px; /* Espaciado a la izquierda */
        color: #ffffff; /* Color del texto */
        /* Agrega más estilos según sea necesario */
    }
    
    .article li {

        font-size: 6px;
        color: #ffffff; /* Color del texto */
        /* Agrega más estilos según sea necesario */
    }

    .carousel-control-prev,
.carousel-control-next {
    bottom:50%; /* Ajusta esta propiedad para mover los botones arriba o abajo */
    margin-left: -12px;
    
}
.carousel-control-next{
    margin-right: -12px;
}

    
    .main__section__2 {
        margin-top: 50px;
        height: 180px;
      }
      
    .Home__projects_index-title {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .Home__projects_index-project-card {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .Home__projects_index-project-image {
        width: 30%;
        border-radius: 8px 8px 0 0;
    }

    .Home__projects_index-card-body {
        padding: 10px;
    }

    .Home__projects_index-project-title {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .Home__projects_index-project-category,
    .Home__projects_index-project-description,
    .Home__projects_index-project-price,
    .Home__projects_index-project-publish-time {
        font-size: 12px;
        margin-bottom: 3px;
    }

    .Main__section__primerTitulo__index {
        font-size: 24px;
        margin-left: 10%;
        margin-bottom: 10px;
    }

    .description_index {
        border-radius: 3px;
        box-shadow: 1px 1px 1px black;
        padding: 5px;
    }
    .testimonials-index-section{
        align-items: center;
    }

    .testimonials-index-section h2 {
        font-size: 19px;
        margin-bottom: 10px;
        background-color: #f9f9f9;
        border-radius: 200px;
    }

    .testimonial-card img {
        width: 40px;
        height: 40px;
        margin-bottom: -10px;
    }
    .testimonial-card{
        width: 80%;
        height: 78%;
        margin-left: 10%;
        
        
    }

    .testimonial-content p {
        font-size: 8px;
        margin-bottom: 2px;
    }

    .testimonial-content cite {
        font-size: 7px;
        margin-bottom: 2px;
    }
    .carousel-inner {
        justify-content: flex-start; /* Alinear las tarjetas al inicio */
    }
    .carousel-item {
        width: 1%;
        scroll-snap-align: start; /* Alinear tarjetas al inicio */
        margin-right: 0; /* Eliminar margen derecho en dispositivos móviles */
    }
    

    .join-us {
        background-color: #f9f9f9;
    
        width: 380px;
        height: 220px;
       margin-left: 3%;
        text-align: center;
        border-top: 5px solid #007bff;
        border-bottom: 5px solid #007bff;
        border-radius: 10%;
      }
    
      .join-us-content {
        width: 370px;
        height: 100px;
    
      }
    
      .join-us-content h2 {
        color: #333;
        font-size: 16px;
        
        text-transform: uppercase;
      }
    
      .join-us-content p {
        color: #666;
        font-size: 14px;
        margin-bottom: 5px;
        line-height: 1.6;
      }
}

/* Adaptaciones para tabletas */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .Home__projects_index {
        margin-top: 8%;
        padding: 15px;
    }

    .Home__projects_index-title {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .Home__projects_index-project-card {
        width: 48%;
        margin-bottom: 15px;
    }

    .Main__section__primerTitulo__index {
        font-size: 30px;
        margin-left: 15%;
        margin-bottom: 15px;
    }

    .description_index {
        padding: 10px;
    }


     .join-us {
        background-color: #f9f9f9;
        
        width: 380px;
        height: 220px;
       margin-left: 3%;
        text-align: center;
        border-top: 5px solid #007bff;
        border-bottom: 5px solid #007bff;
        border-radius: 10%;
      }
    
      .join-us-content {
        width: 370px;
        height: 100px;
        
    
      }
    
      .join-us-content h2 {
        color: #333;
        font-size: 16px;
        
        text-transform: uppercase;
      }
    
      .join-us-content p {
        color: #666;
        font-size: 14px;
        margin-bottom: 5px;
        line-height: 1.6;
      }
      
}
