.body__index {
    background-color: var(--colorCelesteClaro);
}

.main {
    box-shadow: 100px 100px 100px 100px rgba(68, 106, 163, 0.5);
    padding: 10px;
}

.main__section {
    margin: auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.article {
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.article p {
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    color: #000000;
}

.article__image {
    width: 40vw; /* Ancho relativo al 50% del ancho de la ventana */
    height: auto; /* Altura ajustada automáticamente para mantener la proporción */
}


.Main__section__primerTitulo {
    color: #ffffff;
    width: 100%;
    font-size: 7vw;
    display: flex;
    text-align: center;
    justify-content: center;
}

.description {
    background-color: var(--colorCelesteOscuro);
    border-radius: 3px;
    box-shadow: 1px 1px 1px black;
    color: #ffffff;
}

@media (min-width: 768px) {
    .Main__section__primerTitulo {
        font-size: 40px;
    }

    .main__busqueda,
    .main__lupa {
        height: 50px;
        font-size: 25px;
    }

    .main__busqueda {
        width: 50%;
    }

    .main__lupa {
        justify-content: flex-start;
        width: 50px;
    }

    .article p {
        font-size: 35px;
    }
    .article__image {
        width: 30vw; /* Ancho relativo al 50% del ancho de la ventana */
        height: auto; /* Altura ajustada automáticamente para mantener la proporción */
    }
    
}

@media (min-width: 1024px) {
    .main {
        padding: 50px;
    }

    .main__section {
        gap: 30px;
    }


.Main__section__primerTitulo {
    font-size: 36px; 
    color: #26303a; 
    text-align: center; 
    margin-bottom: 20px; 
    font-weight: bold; 
    font-family: "Arial", sans-serif; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

    .main__busqueda,
    .main__lupa {
        height: 50px;
        font-size: 25px;
    }

    .main__busqueda {
        width: 50%;
    }

    .main__lupa {
        justify-content: flex-start;
        width: 50px;
    }


    .article__image {
        width: 40%;
    }

    .article__1 {
        gap: 81px;
    }

    .article__1 p {
        font-size: 20px;
    }

    .article__2__leyenda {
        height: 60px;
    }

    .article__2__leyenda p {
        font-size: 20px;
    }

    .article__image {
        width: 25vw; /* Ancho relativo al 50% del ancho de la ventana */
        height: auto; /* Altura ajustada automáticamente para mantener la proporción */
    }
    .Home__projects h2 {
        font-size: 36px; 
        color: #26303a; 
        margin-top: 20px;
        margin-bottom: 20px; 
        font-weight: bold; 
       
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    }
    .Home__projects article {
        background-color: #ffffff; /* Fondo blanco */
        padding: 20px; /* Añade un espacio interno alrededor del contenido */
        border-radius: 10px; /* Añade esquinas redondeadas al contenedor */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Añade una sombra suave */
    }
    

    .card {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 10px;
        margin-bottom: 20px;
        width: 400px; /* Ancho específico en píxeles */
        height: 150px; /* Alto específico en píxeles */
    }
    
    .img-fluid {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        border-radius: 8px;
    }
    
    .card-body {
        padding: 5px;
    }
    
    .card-text.price {
        font-weight: bold;
        margin-left: 10px;
    }
    
    .text-body-secondary {
        color: #666;
        font-size: 0.9rem;
    }
    
}
