body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

.lp__main {
    display: flex;
    padding: 20px;
    justify-content: space-between; 
}

.lp__filtro__section {
    width: 30%; 
    margin-right: 20px; 
    border-radius: 10px;
    background-color: var(--colorGris);
    padding: 10px; 
}

.lp__resultados {
    width: 70%;
    background-color: var(--colorGris);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.lp__resultados__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.lp__filtro__form__contenedor {
    margin-bottom: 20px;
}

.lp__input {
    width: 80px;
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.contenedor__categoria__select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    outline: none;
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 24px 24px;
}

.lp__filtro__form__contenedor__Star {
    margin-bottom: 20px;
}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
    display: inline-block;
    font-size: 0; 
}

.clasificacion input[type='radio'] {
    display: none;
}

.clasificacion label {
    color: #ffffff;
    font-size: 30px;
    cursor: pointer;
    transition: color 0.3s;
    display: inline-block;
}

.clasificacion label:hover,
.clasificacion label:hover ~ label {
    color: #ffac00;
}

.clasificacion input[type='radio']:checked ~ label {
    color: #ffac00;
}


.products-title {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.submit-filter-product {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; 
}

.submit-filter-product:hover {
    background-color: #0056b3; 
    transform: translateY(-2px); 
}

button[type='submit']:hover {
    background-color: #0056b3;
}


a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}

.product-card {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.product-card h2 {
    margin-top: 0;
}

.product-card p {
    margin-bottom: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.pagination li {
    margin-right: 10px;
}

.pagination li a {
    color: #007bff;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination li a:hover {
    background-color: #007bff;
    color: #fff;
}

.lp__OrdenarPor__select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    color: #333; 
}

.lp__OrdenarPor__select:focus {
    border-color: #007bff; 
}

.result_busqued-product {
    background-color: #f8f9fa; 
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}

.result_busqued-product h2 {
    color: #333; 
    font-size: 24px; 
}

.result_busqued-product p {
    color: #555; 
    font-size: 18px; 
}

.result_busqued-product h2,
.result_busqued-product p {
    margin-bottom: 10px; 
}
