.main__PD {
    /*width: 90%;
    margin: 0 auto;*/
    position: relative;
    /*Para el boton contactamee*/
}

/*Clase que todas las section comparten*/
.main__PD__section {
    padding: 3%;
}
.main__PD__section:not(:last-child){
    border-radius: 20px;
    box-shadow:  2px 2px 4px var(--colorAzulOscuro);
}
/*Section mis datos*/
.section__misDatos{
    background-color: var(--colorCelesteClaro);
    margin-top: 20px;
}
.section__misDatos__contImg {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section__misDatos--img {
    width: 150px;
    border-radius: 15px;
}
.section__misDatos--h3 {
    font-size: 30px;
    text-align: center;
}
.section__misDatos__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
.section__misDatos__botonGuardar{
    padding: 0;
    background-color: var(--colorCelesteClaro);
    border: none;
}
.section__misDatos__botonGuardar i{
    font-size: 25px;
}
.section__misDatos__ContLinks__ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*Section sobre mi*/
.section__sobreMi {
    margin: 4% 1%;
}
/*Section review: se movio a comentario.css*/

/*section contacto*/
.section__contacto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:15px;
    position: sticky;
    bottom: 0px;
    left: 0;
}
.PD__article__precio--h4, .PD__article__contactame__a--h3, .PD__article__contactame__a--iconContac, .PD__article__precio--p{
    font-size: 15px;
}
.PD__article__precio{
    width: 90px;
    height: 60px;
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    padding: 5px;
}
.PD__article__precio--h4{
    font-size: 20px;
}
.PD__article__contactame{
    margin-top: 15px;
}
.PD__article__contactame__a--iconContac{
    font-size: 25px;
}
.PD__article__contactame__a{
    width: 90px;
    padding: 20px;
}
.PD__article__contactame__a--h3{
    display: none;
}

@media (min-width: 500px) {
    .section__contacto{
        position: static;
    }
    
    .section__misDatos{
        display: flex;
        flex-direction: row;   
    }
    .section__misDatos__contImg{
        margin-right: 40px;
        width: 200px;
    }
    .section__misDatos__contenedor{
        width: 100%;
    }
}

@media (min-width: 1024px) {
    
}