.main__PDPost{
    width: 100%;
    position: relative;
    /*background-color: blueviolet;*/
}
.main__PDPost__section{
    padding: 3%;
}
/*Posible logo Imagen*/
.main__logo{
    width: 100%;
}
.main__logo--img{
    width: 100%;
}
/*Todas las secciones llevan esta clase*/
.main__PDPost__section{
    width:90%;
    margin: 0 auto;
    /*color:#FFF;*/
} 
/**Seccion explicacion de oferta [1]*/
.section__explicacion{
    /*background-color: var(--colorCelesteOscuro);
    color:#FFF;
    /*padding: 2%;*/
    background-color: var(--colorGris);
    border-radius: 15px;
}
.section__explicacion__contenedor{
    display:flex;
    justify-content: space-between;
}
.publicacion{
    display: flex;
    justify-content: end;
}
.section__explicacion--p{
    margin-top: 10px;
}
/*Seccion sobre el puesto, info extra del puesto [2]*/
.section__habilidades{
    /*background-color: var(--colorCeleste);*/
}

/*Seccion sobre el puesto, info extra del puesto [3]*/
.section__sobreEmpresa{
    /*background-color: var(--colorCelesteOscuro);*/
    display: flex;
}
.section__sobreEmpresa--img{
    width: 18%;
    margin-right: 50px;
    border-radius: 50%;
}
.section__sobreEmpresa__contenedor__article{
    display:flex;
    flex-wrap: wrap;
}
/*Botones flotantes: postularme y guardar*/
.section__acciones{
    display: flex;
    position: sticky;
    bottom: 0;
    left: 0;
}
.section__acciones__botonPostularme{
    /*background-color: #FFF;
    color: var(--colorPrueba);
    font-size: 25px;
    padding: 12px 20px;
    border-radius: 10px;
    border: solid 1px var(--colorAzulOscuro);*/
    height: 50px;
}
/*Botones para desplazarme por la paginaa*/
.section__acciones__botonPostularme{
    margin-left: 38%;
}
.botones__PDPost{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 4%;
    color: #FFF;
}