<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {title: 'Home | FreeLab' }) %>
<body class="carrito">
    <%- include('./partials/header')%>
    <main class="main--carrito">
        <section class="main__section--carrito">
            <h2>Carrito de compras:</h2>
            <article class="main__section__article--carrito"> 
                <div class="eliminar"><button></button></div>
                <img src="/images/img-perfil.png" alt="foto de perfil">
                <div class="datos">
                    <div class="nombre">
                        <h3>Nombre y apellido de la persona </h3>
                    </div>
                    <div class="etiquetas">
                        <p>Html</p>
                        <p>Css</p>
                        <p>Js</p>
                        <p>Php</p>
                        <p>Ingles</p>
                        <p>Ux/Ui</p>
                    </div>
                </div>
                <div class="valores">
                    <p>Horas: 15hs</p>
                    <p>Precio: $20395</p>
                    <p>P/H: $2341</p>
                    <div class="botones">
                        <button>Comprar</button>
                        <button>Eliminar</button>
                    </div>
                </div>
            </article>
            <article class="main__section__article--carrito"> 
                <div class="eliminar"><button></button></div>
                <img src="/images/img-perfil.png" alt="foto-perfil">
                <div class="datos">
                    <div class="nombre">
                        <h3>Nombre y apellido de la persona </h3>
                    </div>
                    <div class="etiquetas">
                        <p>Html</p>
                        <p>Css</p>
                        <p>Js</p>
                        <p>Php</p>
                        <p>Ingles</p>
                        <p>Ux/ui</p>
                    </div>
                </div>
                <div class="valores">
                    <p>Horas: 15hs</p>
                    <p>Precio: $20395</p>
                    <p>P/H: $2341</p>
                    <div class="botones">
                        <button>Comprar</button>
                        <button>Eliminar</button>
                    </div>
                </div>
            </article>
        </section>  
        <div class="cierre">
            <div class="cierre--linea0">
                <p>Total</p>
                <p>$45000</p>
            </div>
            <div class="cierre--linea1">
                <p>Total de horas</p>
                <p>45</p>
            </div>
            <div class="cierre--linea2">
                <button>CONTINUAR COMPRANDO</button>
                <button>COMPRAR</button>
            </div>
        </div>
    </main>
    <%- include('./partials/footer')%>
    <%- include('./partials/scripts') %>
</body>
</html>