<div class="modal fade" id="warningRemoveModal<%= user.id %>" tabindex="-1" aria-labelledby="warningRemoveModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="warningRemoveModalLabel">ADVERTENCIA</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4><span class="text-danger fs-3"><i class="fa-solid fa-triangle-exclamation"></i></span> ¿Desea
                    eliminar el producto:?</h4>
                

            </div>

        </div>
    </div>
</div>