<div class="admin__busqueda">
    <form class="admin__formulario-busqueda" action="/resultado" method="GET">
      <input type="text" name="key" placeholder="Buscar..." class="admin__entrada-busqueda">
      <button type="submit" class="admin__boton-busqueda">Buscar</button>
    </form>
</div>