<article class="article__review">
    <div class="article__review__proFecha">
        <%- include('../partials/starts')%>
        <p class="article__review__proFecha--fecha">05/10/2023</p>
    </div>
    <h2 class="article__review--tituloTrabajo">Develop full stack</h2>
    <p class="article__review--comentario">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nullam congue lectus lacus, eu aliquet risus feugiat nec.</p>
    <p class="article__review--nombre">opiin fruta silvestre</p>
</article>