<form action="/admin" method="GET">
    <div class="admin__filtro">
      <label class="admin__etiqueta-filtro">Filtrar por:</label>
      <select class="admin__select-filtro" name="optionType">
          <option value="Proyectos">Proyectos</option>
          <option value="Freelancers">Freelancers</option>
          <option value="Empresas">Empresas</option>
      </select>
      <button type="submit">.</button>
    </div>
</form>