<footer>
    <section class="footer__section">
        <h3 class="footer__section--h3">Quiénes somos</h3>
        <ul>
            <li class="footer__section__ul__li"><a class="footer__section__ul__li--a" href="#">Sobre nosotros</a></li>
            <li class="footer__section__ul__li"><a class="footer__section__ul__li--a" href="#">Únete al equipo</a></li>
            <li class="footer__section__ul__li"><a class="footer__section__ul__li--a" href="#">Contáctanos</a></li>
            <li class="footer__section__ul__li"><a class="footer__section__ul__li--a" href="#">Políticas de FreeLab</a>
            </li>
            <li class="footer__section__ul__li"><a class="footer__section__ul__li--a" href="#">Política de
                    privacidad</a></li>
            <li class="footer__section__ul__li"><a class="footer__section__ul__li--a" href="#">Términos de servicio</a>
            </li>
        </ul>
    </section>
    <section class="footer__section">
        <h3 class="footer__section--h3">Quiénes somos</h3>
        <ul>

            <li class="footer__section__ul__li"><a class="footer__section__ul__li--a" href="#">Sobre nosotros</a></li>
            <li class="footer__section__ul__li"><a class="footer__section__ul__li--a" href="#">Únete al equipo</a></li>
            <li class="footer__section__ul__li"><a class="footer__section__ul__li--a" href="#">Contáctanos</a></li>
            <li class="footer__section__ul__li"><a class="footer__section__ul__li--a" href="#">Políticas de FreeLab</a>
            </li>
            <li class="footer__section__ul__li"><a class="footer__section__ul__li--a" href="#">Política de
                    privacidad</a></li>
            <li class="footer__section__ul__li"><a class="footer__section__ul__li--a" href="#">Términos de servicio</a>
            </li>
        </ul>
    </section>
    <section class="footer__section">
        <h3 class="footer__section--h3">Quiénes somos</h3>
        <ul class="footer__section__ul">
            <li class="footer__section__ul__li"><a class="footer__section__ul__li--a" href="#">Sobre nosotros</a></li>
            <li class="footer__section__ul__li"><a class="footer__section__ul__li--a" href="#">Únete al equipo</a></li>
            <li class="footer__section__ul__li"><a class="footer__section__ul__li--a" href="#">Contáctanos</a></li>
            <li class="footer__section__ul__li"><a class="footer__section__ul__li--a" href="#">Políticas de FreeLab</a>
            </li>
            <li class="footer__section__ul__li"><a class="footer__section__ul__li--a" href="#">Política de
                    privacidad</a></li>
            <li class="footer__section__ul__li"><a class="footer__section__ul__li--a" href="#">Términos de servicio</a>
            </li>
        </ul>
    </section>
    <div class="contenedor__section__NyI">
    <section class="footer__section suscribete__iconos">
        <h3 class="footer__section--h3">Newsletter</h3>
        <form action="/newsletter" method="POST">
            <div class="footer__section__cont">
                <input class="footer__section__cont--label" id="emailNewsletter" type="email" placeholder="Escribí tu email" name="emailNewsletter">
            </div>
            <button type="submit"><i class="fa-solid fa-arrow-right footer__section__cont--i"></i></button>
        </form>
    </section>
    <section class="footer__section siguenos__iconos">
        <h3 class="footer__section--h3">Nuestras redes: </h3>
        <ul class="ul__iconos">
            <li><i class="fa-brands fa-linkedin-in"></i></li>
            <li><i class="fa-brands fa-linkedin-in"></i></li>
            <li><i class="fa-brands fa-linkedin-in"></i></li>
            <li><i class="fa-brands fa-linkedin-in"></i></li>
            <li><i class="fa-brands fa-linkedin-in"></i></li>
        </ul>
    </section>
    </div>
    <p class="footer__p__derechos">© 2023 - 2023 | FreeLab - Todos los derechos reservados</p>
</footer>
