<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/62a6949a36.js" crossorigin="anonymous"></script>
    <title>Tu Empresa - Conectando Ideas</title>
</head>

<body>
    <footer>
        <section class="footer__section acerca-nosotros">
            <h3>Acerca de Nosotros</h3>
            <ul>
                <li><a href="#">Sobre nosotros</a></li>
                <li><a href="#">Únete al equipo</a></li>
                <li><a href="#">Contáctanos</a></li>
                <li><a href="#">Políticas de FreeLab</a></li>
                <li><a href="#">Política de privacidad</a></li>
                <li><a href="#">Términos de servicio</a></li>
            </ul>
        </section>

        <section class="footer__section nuestros-servicios">
            <h3>Nuestros Servicios</h3>
            <p>
                Nuestro sitio web, FreeLab, proporciona un espacio para la comunidad de trabajadores freelance y empleadores en busca de talento remoto. Ofrecemos una variedad de servicios, incluyendo:
            </p>
            <ul>
                <li>Registro y Perfil Personalizado: Los usuarios pueden crear perfiles personalizados que resalten sus habilidades, experiencia y preferencias de trabajo.</li>
                <li>Búsqueda de Trabajos Freelancer: Ofrecemos una amplia variedad de trabajos freelance en diversas industrias.</li>
                <li>Publicación de Trabajos: Los empleadores pueden publicar oportunidades de trabajo freelance y conectarse con profesionales calificados de todo el mundo.</li>
                <li>Calificaciones y Comentarios: Los usuarios pueden dejar y recibir calificaciones y comentarios para establecer una reputación confiable en la comunidad.</li>
            </ul>
        </section>

        <section class="footer__section contactanos">
            <h3>Contáctanos</h3>
            <p>
                ¿Tienes preguntas o comentarios? Estamos aquí para ayudarte. Contáctanos para obtener más información sobre nuestros servicios y oportunidades. ¡Esperamos saber de ti pronto!
            </p>
            <ul>
                <li><a href="mailto:info@tuempresa.com">Correo Electrónico</a></li>
                <li><a href="tel:+123456789">Teléfono</a></li>
                <li><a href="#">Formulario de Contacto</a></li>
            </ul>
        </section>

        <section class="footer__section redes-sociales">
            <h3>Síguenos</h3>
            <ul class="ul__iconos">
                <li><i class="fab fa-linkedin-in"></i></li>
                <li><i class="fab fa-twitter"></i></li>
                <li><i class="fab fa-facebook-f"></i></li>
                <li><i class="fab fa-instagram"></i></li>
            </ul>
        </section>

        <p class="footer__p__derechos">© 2023 - 2023 | Tu Empresa - Todos los derechos reservados</p>
    </footer>
</body>

</html>
