<article class="section__explicacion__article__habilidades article__skills">
    <h5 class="article__skills--h3">Habilidades interpersonales: </h5>
    <% skills.forEach(s => { %>
        <p class="article__skills--p"><%= s.name %></p>
    <% }) %>
</article>