<article class="article__skills">
    <h3 class="article__skills--h3">Manejo de:</h3>
    <p class="article__skills--p">HTML</p>
    <p class="article__skills--p">CSS</p>
    <p class="article__skills--p">PHP</p>
    <p class="article__skills--p">JAVASCRIPT</p>
    <p class="article__skills--p">FIGMA</p>
    <p class="article__skills--p">VISUALSTUDIO</p>
</article>