<header class="header">
    <a href="/"><img src="/images/Logo_FreeLab.png" alt="logo" class="header--logo"></a>
    <div class="header__contIconos">
        <i class="fa-solid fa-user header--iconoUser"></i>
        <i class="fa-solid fa-bars-staggered header--iconoHam"></i>
    </div>
    <nav class="header__nav">
        <ul class="header__nav__ul">
            <li class="header__nav__ul__li"><a class="header__nav__ul__li--a" href="/usuarios/ingreso">Login</a></li>
            <li class="header__nav__ul__li"><a class="header__nav__ul__li--a" href="/usuarios/registro">Register</a></li>
            <li class="header__nav__ul__li"><a class="header__nav__ul__li--a" href="/carrito">Carrito</a></li>
            <li class="header__nav__ul__li"><a class="header__nav__ul__li--a" href="/">home</a></li>
            <li class="header__nav__ul__li"><a class="header__nav__ul__li--a" href="#">Trabajos</a></li>
            <li class="header__nav__ul__li"><a class="header__nav__ul__li--a" href="#">¿Quienes somos?</a></li>
        </ul>
    </nav>
</header> 
<!-- LINKS QUE FUNCIONAN
<li class="header__nav__ul__li"><a class="header__nav__ul__li--a" href="/usuarios/ingreso">Login</a></li>
            <li class="header__nav__ul__li"><a class="header__nav__ul__li--a" href="/usuarios/registro">Register</a></li>
            <li class="header__nav__ul__li"><a class="header__nav__ul__li--a" href="/carrito">Carrito</a></li>
            <li class="header__nav__ul__li"><a class="header__nav__ul__li--a" href="/">home</a></li>
            <li class="header__nav__ul__li"><a class="header__nav__ul__li--a" href="#">Trabajos</a></li>
            <li class="header__nav__ul__li"><a class="header__nav__ul__li--a" href="/productos/detallePublicacion">detailPOst</a></li>
            <li class="header__nav__ul__li"><a class="header__nav__ul__li--a" href="/productos/detalle">detail</a></li>


-->