<header class="admin__header">
  <div class="admin__header__div">
    <h1 class="admin__header__div__nombre">FreeLab</h1>
    <form action="" method="get" class="admin__header__div__form">
      <input type="text" placeholder="Buscar..." class="admin__header__div__barra-busqueda">
      <button type="submit" class="admin__header__div__button-buscar">Buscar</button>
    </form>
    <div>
    <label for="filtro-usuarios" class="admin__header__div__lable">Filtrar por:</label>
    <select name="filter" id="filtro-usuarios" class="admin__header__div__select">
      <option value="todos" selected>Todos</option>
      <option value="contratadores">contratadores</option>
      <option value="contratados">contratados</option>
    </select>
  </div>
  </div>
</header>