<header class="admin__header">
    <div class="admin__logo">
        <a class="admin__logo--a" href="/"><h1>FreeLab</h1></a>
    </div>
    <%- include('./buscador')%>
    <div class="admin__filtro">
        <label class="admin__etiqueta-filtro">Filtrar por:</label>
        <select class="admin__select-filtro">
            <option value="todos" selected>Todos</option>
            <option value="contratados">Contratados</option>
            <option value="contratantes">Contratantes</option>
        </select>
    </div>
    <div class="admin__div__boton-nuevo">
        <a class="admin__boton-nuevo" href="/productos/formularioProducto">Crear nuevo</a>
    </div>
</header>