<article class="main__section__article--carrito"> 
    <div class="eliminar"><button></button></div>
    <img src="/images/img-perfil.png" alt="foto-perfil">
    <div class="datos">
        <div class="nombre">
            <h3>Nombre y apellido de la persona </h3>
        </div>
        <div class="etiquetas">
            <p>Html</p>
            <p>Css</p>
            <p>Js</p>
            <p>Php</p>
            <p>Ingles</p>
            <p>Ux/ui</p>
        </div>
    </div>
    <div class="valores">
        <p>Horas: 15hs</p>
        <p>Precio: $20395</p>
        <p>P/H: $2341</p>
        <div class="botones">
            <button>Comprar</button>
            <button>Eliminar</button>
        </div>
    </div>
</article>