<article class="article--contenedorTarjetaProyecto">
    <div class="contenedor__datosEmpresa">
        <!--Datos de empresa-->
    </div>
    <div class="contenedor__datosProyecto">
        <a href="/productos/detalleProyecto/<%= p.id %>">
        <p><%= p.title %></p></a>
        <p><%= p.description %></p>
    </div>
</article>