<article class="main__section__article--carrito"> 
    <!--<div class="eliminar"><button></button></div>-->
    <div class="carrito__imagen">
        <a href="/productos/detalle">
            <img src="/images/img-perfil.png" alt="foto-perfil">
        </a>
    </div>
    <div class="carrito__datos">
        <a href="/productos/detalle">
            <h3 class="carrito__datos__nombre">Nombre y apellido de la persona </h3>
        </a>
        <%- include('./habilidadesManejadas')%>
    </div>
    <div class="carrito__precios">
        <p class="carrito__precios--horasPedidas">Horas: 15hs</p>
        <p class="carrito__precios--preciohora">P/H: $2341</p>
        <p class="carrito__precios--total">Precio: $20395</p>
    </div>
    <div class="carrito__precios__botones">
        <button>Comprar</button>
        <button>Eliminar</button>
    </div>
</article>