<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head', {title: 'Home | FreeLab' }) %>
<body class="body-register">
    <%- include('../partials/header')%>
    <div class="register-container">

        <!-- Formulario de registro -->
        <div class="register-form">
        
        <!-- empresaForm.ejs -->
        <form id="employer-registration" class="registration-section employer" action="/usuarios/registrarEmpresa" method="post" enctype="multipart/form-data">
            <h1>Registro Empresa</h1>

            <label for="companyName">Nombre de la Empresa <span class="required">*</span></label>
            <div class="input-line">
                <input type="text" id="companyName" name="companyName" placeholder="Nombre de la Empresa" required>
            </div>
            <label for="userEmail">Correo <span class="required">*</span></label>
            <div class="input-line">
                <input type="text" id="userEmail" name="userEmail" placeholder="ejemplo@empresa.com" required>
            </div>
            
            <label for="userPassword">Contraseña <span class="required">*</span></label>
            <div class="input-line">
                <input type="password" id="userPassword" name="userPassword" required>
            </div>
            
            <label for="employerConfirmPassword">Confirmar Contraseña <span class="required">*</span></label>
            <div class="input-line">
                <input type="password" id="employerConfirmPassword" name="employerConfirmPassword" required>
            </div>
            
            <label for="employerPhone">Teléfono Celular</label>
            <div class="input-line-phone">
                <div class="phone-input-container">
                    <select id="employerPhoneCode" name="employerPhoneCode" required>
                    <option value="+1">+1 (EE. UU.)</option>
                    <option value="+44">+44 (Reino Unido)</option>
                    <option value="+54">+54 (Argentina)</option>
                    <option value="+55">+55 (Brasil)</option>
                    <option value="+56">+56 (Chile)</option>
                    <option value="+57">+57 (Colombia)</option>
                    <option value="+51">+51 (Perú)</option>
                    <option value="+595">+595 (Paraguay)</option>
                    <option value="+598">+598 (Uruguay)</option>
                    <option value="+1">+1 (EE. UU.)</option>
                    <option value="+44">+44 (Reino Unido)</option>
                    <option value="+81">+81 (Japón)</option>
                    <option value="+86">+86 (China)</option>
                    <option value="+91">+91 (India)</option>
                </select>
                <div class="separator-container">
                    <div class="separator"></div>
                </div>
                <input type="text" id="employerPhone" name="employerPhone" placeholder="Número de teléfono celular" pattern="[0-9]+" required>
            </div>
        </div>
            <div class="input-line">
                <label for="empresaImage">Agregar imagen de perfil</label>
                <input type="file" name="empresaImage" class="form-control" id="empresaImage">
            </div>
            
            <label for="companyDescription">Breve Descripción de la Empresa <span class="required">*</span></label>
            <div class="input-line-empresa">
                <textarea id="companyDescription" name="companyDescription" placeholder="Breve descripción de la empresa" required></textarea>
            </div>
            
            <div class="checkbox-line">
                <input type="checkbox" id="employer-terms" name="employer-terms" required>
                <label for="employer-terms">Acepto los términos, condiciones y aviso de privacidad</label>
            </div>
            
            <div class="checkbox-line">
                <input type="checkbox" id="employer-notifications" name="employer-notifications">
                <label for="employer-notifications">Acepto recibir notificaciones por correo</label>
            </div>
            
            <button type="submit" class="btn">Registrarse como Empresa</button>
        </form>


        </div>
        
        <!-- Caja de inicio de sesión -->
        <div class="register-box">
            <p>Ingrese desde</p>
            <div class="social-buttons">
                <button class="btn"><i class="fab fa-linkedin"></i><span class="vertical-line"></span>LinkedIn</button>
                <button class="btn"><i class="fab fa-facebook"></i><span class="vertical-line"></span>Facebook</button>
                <button class="btn"><i class="fab fa-google"></i><span class="vertical-line"></span>Google</button>
            </div>
        </div>
        
    </div>
    <%- include('../partials/footer')%>
    <%- include('../partials/scripts') %>
</body>
</html>






