<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head', {title: 'Home | FreeLab' }) %>
<body>
    <%- include('../partials/header')%>

    <form method="post" action="/usuarios/registro" class="registration-form-container">
        <button type="submit" name="userType" value="freelancer" class="registration-button freelancer">Registrarse como Freelancer</button>
        <button type="submit" name="userType" value="empresa" class="registration-button empresa">Registrarse como Empresa</button>
    </form>
    
    </div>
    <%- include('../partials/footer')%>
    <%- include('../partials/scripts') %>
</body>
</html>
