<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head', {title: 'Home | FreeLab' }) %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-N5ZiqGwFsb44sM8NciSdRWJuZfWAoOH+R1P4nBy6NYSb7/SU/00q91a7t+KPoT4qAphln/GSEUq39nqutQ+sCg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="body-emp-fre">
    <%- include('../partials/header')%>

    <div class="button-container">
        <div class="registration-container">

            <form method="POST" action="/usuarios/registro" class="registration-form-container"> 

                <!-- Correo -->
                <label for="userEmail">Correo </label>
                <div class="input-line">
                    <input type="text" id="userEmail" name="userEmail" placeholder="ejemplo@ejemplo.com">
                    <small class="text-danger ms-2"></small>
                </div>

                <!-- Contraseña -->
                <label for="userPassword">Contraseña </label>
                <div class="input-line">
                    <input type="password" id="userPassword" name="userPassword">
                    <small class="text-danger ms-2"></small>
                </div>

                
                <label for="confirmPassword">Confirmar Contraseña </label>
                <div class="input-line">
                    <input type="password" id="confirmPassword" name="confirmPassword">
                    <small class="text-danger ms-2"></small>
                </div>

                <div class="select-free-emp">
                    <label for="userType">Seleccione su tipo de registro:</label>
                    <select id="userType" name="userType" class="registration-option">
                        <option value="" disabled selected hidden>Seleccione una opción</option>
                        <option value="freelancer">Registrarse como Freelancer</option>
                        <option value="empresa">Registrarse como Empresa</option>
                    </select>
                </div>

                <!-- Términos y Condiciones -->
                <div class="checkbox-line">
                    <input type="checkbox" id="terms" name="terms">
                    <label for="terms">Acepto los términos, condiciones y aviso de privacidad</label>
                </div>

                <!-- Notificaciones por Correo -->
                <div class="checkbox-line">
                    <input type="checkbox" id="notifications" name="notifications">
                    <label for="notifications">Acepto recibir notificaciones por correo</label>
                </div>

                <button type="submit" class="registration-button">
                    Siguiente <i class="fa-solid fa-angles-right"></i>
                </button>
            </form>
        </div>
    </div>

    <!-- Caja de inicio de sesión -->
    <div class="register-box">
        <p>Ingrese desde</p>

        <div class="social-buttons">
            <button class="btn"><i class="fab fa-linkedin"></i><span class="vertical-line"></span>LinkedIn</button>
            <button class="btn"><i class="fab fa-facebook"></i><span class="vertical-line"></span>Facebook</button>
            <button class="btn"><i class="fab fa-google"></i><span class="vertical-line"></span>Google</button>
        </div>
    </div>

    <%- include('../partials/footer')%>
    <%- include('../partials/scripts') %>
</body>

</html>
