/* Main */
.perfil__user {
    width: 90%;
    margin: auto;
    position: relative;
}
/*Primer section del main*/

/*Article de datos primarios*/ 
.perfil__user__section__datosPrimarios{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.datosPrimarios--imagen{
    width: 200px;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    border: 10px solid blue;
}
.datosPrimarios__description{
    
}
/*
.datosPrimarios__contedor__jobs{
    display: flex;
    justify-content: center;
    align-items: center;
} */

/*Article de proyectos*/

/*Div botones editar*/
.perfil__opciones__edit{
    position: sticky;
    bottom: 0px;
    left: 0;
}

@media (min-width: 500px) {
    /*Article de datos primarios*/ 
    .datosPrimarios--imagen{
        margin-right: 20px;
    }
    .perfil__user__section__datosPrimarios{
        flex-direction:row;
        justify-content: space-around;
        margin: 25px auto;
    }
}
@media (min-width: 1024px) {
    
}